@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.ff_inter {
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'norwester';
    src: url('/assets/fonts/norwester/norwester.otf');
}

.ff_norwester {
    font-family: norwester;
}

body {
    background-color: var(--offwhite) !important;
}

.mw_1920 {
    max-width: 1920px;
}

/*================== SCROLLBAR ============== */
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--peach);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

/*============== HEADER-SECTION ============== */
.page_logo {
    width: 130px;
    height: 110px;
    margin-top: 26px;
}

.hero_img {
    max-width: 540px;
    height: 850px;
}

.hero_bg_shadow {
    max-width: 547px;
    height: 497px;
}

.hero_light {
    top: -12%;
    right: 7%;
    pointer-events: none;
}

.hero_star {
    right: 19%;
    top: 47px;
    pointer-events: none;
}

.mt_70 {
    margin-top: 70px;
}

.mw_208 {
    max-width: 208px;
}

.text_shadow {
    text-shadow: 0px 4px 7.1px 0px var(--lightblue);
}

.cloud_img {
    max-width: 300px;
    min-height: 253px;
    top: -59%;
    left: 7%;
    pointer-events: none;
}

.cat_img {
    top: 43%;
    right: 2%;
    pointer-events: none;
}

.hero_vector {
    width: 192px;
    height: 166px;
    top: -29%;
    pointer-events: none;
}

/*========== CAFE-SECTION ========= */
.cafe_mt {
    margin-top: 100px;
}

.cafe_bg_img {
    background-image: url(/assets/images/webp/windowGlass.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cafe_img {
    height: 300px;
}

/*===================== ABOUT-SECTION ===================== */
.about_box {
    border: 4px solid var(--darkblue);
    box-shadow: 0px 22px 0px 0px var(--darkblue);
    border-radius: 13px;
    padding: 15px;
}

.about_cat_feet1 {
    right: -30px;
    top: 55px;
    pointer-events: none;
}

.about_cat_feet2 {
    right: 0px;
    bottom: 100px;
    pointer-events: none;
}

.about_cat_feet3 {
    left: 3%;
    bottom: -9%;
    pointer-events: none;
}

.about_feet {
    width: 100px;
    right: 0;
    pointer-events: none;
}

/*============== OUR-MISSION ================ */
.mt_mission {
    margin-top: 64px;
}

.mission_cat {
    max-width: 118px;
    height: 159px;
}

.missin_cat_feet {
    left: -10%;
    top: 15%;
}

.mission_cat_feet_img {
    width: 100px;
    left: 0%;
    bottom: -2%;
    pointer-events: none;
}

/*============= BENIFITS ============ */
.benifit_card {
    box-shadow: 0px 22px 0px 0px var(--darkblue);
    border: 4px solid var(--darkblue);
    padding: 24px;
    border-radius: 13px;
    transition: all 300ms linear;
}

.benifit_card:hover {
    transform: scale(1.02);
}

.benifit_cat_img {
    max-width: 220px;
    height: 220px;
}

.mt_benifit {
    margin-top: 48px;
}

/*================= JOURNEY ================= */
.mt_journey {
    margin-top: 80px;
}

.top_5 {
    top: 5%;
}

.top_13 {
    top: -13%;
}

.journey_cat_feet {
    bottom: 30%;
    left: 5%;
    pointer-events: none;
}

/*=========== SUPPORT-TOGETHER ============ */
.support_card {
    background-color: var(--peach);
    border: 4px solid #09384E;
    box-shadow: 0px 22px 0px 0px #09384E;
    padding: 15px;
    border-radius: 13px;
}

.mw_787 {
    max-width: 787px;
}

.mt_support {
    margin-top: 80px;
}

.support_lamp1 {
    width: 75px;
    height: 270px;
    left: 4%;
}

.support_lamp2 {
    width: 75px;
    height: 201px;
    right: 4%;
}

/*========== STAY-CONNECTED =========== */
.connect_input {
    outline: none;
    padding: 25px 29px;
    border: 3px solid var(--darkblue);
    background-color: transparent;
    border-radius: 72px;
}

::placeholder {
    color: var(--darkblue);
}

.submit_btn {
    background-color: var(--peach);
    border: 3px solid transparent;
    border-radius: 72px;
    padding: 25px;
    width: 100%;
    color: var(--white);
    box-shadow: 0px 4px 25.6px 0px var(--lightpeach);
    transition: all 300ms linear;
}

.submit_btn:hover {
    background-color: transparent;
    border: 3px solid var(--peach);
    color: var(--peach);
}

.connected_layer {
    max-width: 490px;
    height: 381px;
    top: 26%;
}

.py_connected {
    padding-top: 80px;
    padding-bottom: 60px;
}

.connected_card_img {
    max-width: 116px;
    height: 197px;
}

.connect_cat_feet_img {
    right: 6%;
    bottom: 57%;
    pointer-events: none;
}

.top_10 {
    top: 10%;
}

/*============== FOOTER ================ */
.bg_blue {
    background-color: var(--darkblue);
}

.footer_link {
    transition: all 300ms linear;
}

.footer_link:hover {
    transform: translateY(-7px);
}

.footer_icon_gap {
    gap: 15px;
}

.footer_line {
    height: 1px;
    background-color: #FFFFFF36;
}

.opacity_8 {
    opacity: 80%;
}

@media (min-width:575px) {
    .cloud_img {
        max-width: 339px;
        min-height: 286px;
        top: -39%;
        left: 17%;
    }

    .cafe_mt {
        margin-top: 130px;
    }

    .cafe_img {
        height: 400px;
    }

    .about_box {
        padding: 30px;
    }

    .benifit_cat_img {
        max-width: 260px;
        height: 260px;
        pointer-events: none;
    }

    .benifit_card {
        padding: 24px 56px 56px 56px;
    }

    .support_card {
        padding: 25px;
    }

    .footer_icon_gap {
        gap: 25px;
    }

    .page_logo {
        width: 155px;
        height: 152px;
        margin-top: 26px;
    }

    .mt_benifit {
        margin-top: 64px;
    }
}

@media (min-width:768px) {
    .cloud_img {
        max-width: 339px;
        min-height: 286px;
        top: -39%;
        left: 26%;
    }

    .cafe_mt {
        margin-top: 150px;
    }

    .cafe_img {
        height: 500px;
    }

    .mission_women_img {
        max-width: 459px;
        height: 631px;
    }

    .journey_women_img {
        max-width: 408px;
        height: 525px;
    }

    .benifit_cat_img {
        max-width: 301px;
        height: 301px;
    }

    .footer_icon_gap {
        gap: 38px;
    }

    .connect_men_img {
        max-width: 500px;
    }

    .connect_input {
        padding: 25px 29px;
    }

    .submit_btn {
        padding: 25px;
    }

    .py_connected {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    .mt_journey {
        margin-top: 48px;
    }
}

@media (min-width:992px) {
    .mw_545 {
        max-width: 545px;
    }

    .cloud_img {
        max-width: 339px;
        min-height: 286px;
        top: -38%;
        left: -4%;
    }

    .mw_450 {
        max-width: 450px;
    }

    .mb_lg_22 {
        margin-bottom: 22px;
    }

    .cafe_mt {
        margin-top: 200px;
    }

    .cafe_img {
        height: 571px;
    }

    .mw_590 {
        max-width: 590px;
    }

    .about_box {
        padding: 25px 75px 20px 35px;
    }

    .mission_layer {
        max-width: 897px;
        height: 619px;
    }

    .mt_mission {
        margin-top: 120px;
    }

    .mt_benifit {
        margin-top: 120px;
    }

    .benifit_card {
        height: 686px;
        max-width: 530px;
    }

    .journey_layer {
        max-width: 550px;
        height: 505px;
    }

    .connect_input {
        max-width: 471px;
        height: 90px;
    }

    .py_connected {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .mt_journey {
        margin-top: 150px;
    }

    .mt_support {
        margin-top: 130px;
    }

    .submit_btn {
        padding: 30px;
    }
}

@media (min-width:1200px) {
    .mw_1164 {
        max-width: 1164px !important;
    }

    .hero_img {
        max-width: 620px;
        height: 867px;
    }

    .hero_bg_shadow {
        max-width: 626px;
        height: 530px;
    }

    .cloud_img {
        max-width: 339px;
        min-height: 286px;
        top: -38%;
        left: 14%;
    }

    .cat_img {
        top: 56%;
        right: -19%;
    }

    .mw_413 {
        max-width: 413px;
    }

    .mt_mission {
        margin-top: 150px;
    }

    .mt_benifit {
        margin-top: 150px;
    }

    .support_card {
        padding: 40px 48px 28px 48px;
    }

    .support_lamp1 {
        height: 298px;
        left: 7%;
    }

    .support_lamp2 {
        right: 6%;
    }

    .journey_layer {
        max-width: 720px;
        height: 513px;
    }

    .connected_layer {
        max-width: 673px;
        height: 576px;
        top: 24%;
    }

    .submit_btn {
        padding: 30px;
        max-width: 471px;
    }
}

@media (min-width:1400px) {
    .hero_img {
        max-width: 760px;
        height: 960px;
    }

    .hero_bg_shadow {
        max-width: 765px;
        height: 560px;
    }

    .header_height {
        height: 1145px;
    }

    .cafe_mt {
        margin-top: 0;
    }

    .mt_mission {
        margin-top: 200px;
    }

    .mt_benifit {
        margin-top: 190px;
    }

    .journey_layer {
        max-width: 806px;
        height: 619px;
    }

    .connected_layer {
        max-width: 780px;
        height: 619px;
        top: 29%;
    }

    .py_connected {
        padding-top: 170px;
        padding-bottom: 160px;
    }

    .about_feet {
        width: 125px;
    }

    .mission_cat_feet_img {
        width: 100px;
        bottom: 6%;
    }

    .mt_support {
        margin-top: 266px;
    }

    .support_card {
        max-width: 1140px;
        height: 358px;
        margin-left: auto;
        margin-right: auto;
    }

    .about_box {
        height: 358px;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }

    .mt_journey {
        margin-top: 197px;
    }
}

@media (min-width:510px) and (max-width:576px) {
    .cloud_img {
        left: 20%;
    }

}